/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }

 /*navigation menu style*/
nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
 }


 .Ensemble {
    display: flex;
    flex-wrap: wrap;
 }
 .blogtextbox {
    flex: 70%;
    padding: 20px;
 }
 /*creating the two-column layout*/
*{
    box-sizing: border-box;
 }

 .profile {
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style*/
 .profile.png img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
 }  
 .profile h1 {
    text-align: center;
 }
 